*{
    margin: 0%;
    padding: 0%;
}
nav{ 
    display: flex;
    background: #178ce6d0;
    color: rgb(237, 45, 45);
    width: 100%;
    height: 55%;
}
nav .logo img {
    margin-left: 3%;
    margin-top: 2%;
    width: 15%;
}
nav input{
   height: 30px;
   width: 260px;
   align-items: center;
}
nav .ul{
    display: flex;
    height: 10px;
    width: 3%;
}
.cart .img{
    width: 20px;
    
}

